# MongoDB Atlas Connection URI
# Example: mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/?retryWrites=true&w=majority
MONGODB_URI=mongodb://localhost:27017

# MongoDB Database Name
MONGO_DB_NAME=nagpur_smart_sanitation

# JWT Secret Key
JWT_SECRET_KEY=nagpur_smart_sanitation_secret_key_2026

# Port (Render sets this automatically)
PORT=8000
